{% extends 'base.html' %}
{% block title %}
    {{ post.title }}
{% endblock title %}
{% block post_active %}class='active'{% endblock post_active %}
{% load staticfiles %}
{% block header_extends %}
    <link rel="stylesheet" href=" {% static 'post/post.css' %} ">
{% endblock header_extends %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-9 col-xs-12 main">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>{{ post.title }}</h3>
                    <ul class='post-info-description'>
                        <li>作者：{{ post.author }}</li>
                        <li>
                            <a href=" {% url 'type_post' post.post_type.id %} ">
                                <p>分类 : {{ post.post_type }}</p>
                            </a>
                        </li>
                        <li>发表日期 : {{ post.created_data|date:"Y-m-d H:m:s" }}</li>
                        <li>阅读 : {{ post.get_read_num }}</li>
                    </ul>
                </div>
                <div class='post-content panel-body'>{{ post.content|safe }}</div>
            </div>
        </div>
        <div class="col-md-3 col-xs-12 post-right-list">
            <div class="panel panel-default">
                <div class="panel-heading">
                    嚯嚯，广告位招租
                </div>
                <div class="panel-body post-types">
                    
                    <div style="align-items: center">
                        <img src="https://cn.bing.com/th?id=OIP.M_S1nHjCuD33QRdHVInHAgHaHa&amp;pid=Api&amp;rs=1&amp;p=0" alt="NM$L" style="width:45%;">
                        <img src="https://cn.bing.com/th?id=OIP.Yfyy9oBtKJePD4fgbQ-T0AHaHa&amp;pid=Api&amp;rs=1&amp;p=0" alt="HHH" style="width:45%;">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading" style="padding-bottom: 0px;">
                    <h4>提交评论</h4>
                </div>
                <div class='post-content panel-body'>
                    {% if user.is_authenticated %}
                        <form action="{% url 'update_comment' %}" method='POST' style='overflow:hidden'>
                            {% csrf_token %}
                            <div class="form-group"><label for="comment_text" style="float: left; text-indent: 0em;">{{ user.username }} 欢迎评论~</label>
                                <textarea class='form-control' name="text" id="comment_text" rows='4'></textarea>
                            </div>
                            <input type="hidden" name='object_id' value="{{ post.pk }}">
                            <input type="hidden" name='content_type' value='labpost'>
                            <input class='btn btn-primary' style='float:right' type="submit" value='评论'>
                        </form>
                    {% else %}
                        未登录,登陆后可评论
                        <form action="{% url 'login' %}" method='POST'>
                            {% csrf_token %}
                            <br>
                            <span>用户名:</span>
                            <input type="text" name='username' class="form-control">
                            <span>密码:</span>
                            <input type="password" name='password' class="form-control">
                            <input class='btn btn-primary' type="submit" style='margin-top: 1rem;float:right;' value='登陆'>
                        </form>
                    {% endif %}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" style="padding-bottom: 0px;">
                    <h4>评论列表</h4>
                </div>
                <div class='post-content panel-body'>
                        <hr>
                    {% for comment in comments %}
                        {{ comment.user.username  }}
                        ({{ comment.comment_time|date:"Y-m-d H:m:s" }}) :
                        {{ comment.text }}
                        <hr>
                    {% empty %}
                        暂无评论
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}