{% extends 'base.html' %}
{% block title %}
    {{ post.title }}
{% endblock title %}
{% block post_active %}class='active'{% endblock post_active %}
{% load staticfiles %}
{% block header_extends %}
    <link rel="stylesheet" href=" {% static 'post/post.css' %} ">
{% endblock header_extends %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-9 col-xs-12 main">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>{{ post.title }}</h3>
                    <ul class='post-info-description'>
                        <li>作者：{{ post.author }}</li>
                        <li>
                            <a href=" {% url 'type_post' post.post_type.id %} ">
                                <p>分类 : {{ post.post_type }}</p>
                            </a>
                        </li>
                        <li>发表日期 : {{ post.created_data|date:"Y-m-d H:m:s" }}</li>
                        <li>阅读 : {{ post.get_read_num }}</li>
                    </ul>
                </div>
                <div class='post-content panel-body'>{{ post.content|safe }}</div>
            </div>
        </div>
        <div class="col-md-3 col-xs-12 post-right-list">
            <div class="panel panel-default">
                <div class="panel-heading">
                    附件
                </div>
                <div class="panel-body post-types">
                    <table class="table table-striped">
                        <tbody>
                            {% for file in files %}
                            <tr>
                                <td><a href="{{ file.file.url }}">{{ file.filename }}</a></td>
                                <td>{{ file.file.size | filesizeformat }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <!-- 登陆即可上传文件 -->
                    {% if user.is_authenticated %}
                    <form action="{% url 'file_upload:model_form_upload' %}" method="post" enctype="multipart/form-data" >
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-info form-control " type="submit" value="submit">上传附件</button>
                    </form>
                    {% else %}
                        未登录,登陆后可上传文件
                        <a href="{% url 'login' %}?from={{ request.get_full_path }}">登陆</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-9 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading" style="padding-bottom: 0px;">
                    <h4>提交评论</h4>
                </div>
                <div class='post-content panel-body'>
                    <!-- 登陆即可评论 -->
                    {% if user.is_authenticated %}
                        <form action="{% url 'update_comment' %}" method='post'>
                            {% csrf_token %}
                            <div class="form-group"><label for="comment_text" style="float: left; text-indent: 0em;">{{ user.username }} 欢迎评论~</label>
                                <textarea class='form-control' name="text" id="comment_text" rows='4'></textarea>
                            </div>
                            <input type="hidden" name='object_id' value="{{ post.pk }}">
                            <input type="hidden" name='content_type' value='labpost'>
                            <input class='btn btn-primary pull-right'type="submit" value='评论'>
                        </form>
                    {% else %}
                        未登录,登陆后可评论
                        <a href="{% url 'login' %}?from={{ request.get_full_path }}">登陆</a>
                    {% endif %}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" style="padding-bottom: 0px;">
                    <h4>评论列表</h4>
                </div>
                <div class='post-content panel-body'>
                        <hr>
                    {% for comment in comments %}
                        {{ comment.user.username  }}
                        ({{ comment.comment_time|date:"Y-m-d H:m:s" }}) :
                        {{ comment.text }}
                        <hr>
                    {% empty %}
                        暂无评论
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}